<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://thymeleaf.org/extras/spring-security">
<th:block th:fragment="navFragment">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">JISINSA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">카테고리</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                    </ul>
                </li>
            </ul>
            <th:block sec:authorize="isAuthenticated()">
                <span style="font-size: 0.1rem" class="me-1"><span sec:authentication="Principal.username"></span>님 환영합니다!</span>
                <button class="btn btn-outline-dark me-1" type="button" onclick="location.href='/logout'">
                    <i class="bi-lock me-1"></i>
                    로그아웃
                </button>
            </th:block>
            <th:block sec:authorize="isAnonymous()">
            <button class="btn btn-outline-dark me-1" type="button" onclick="location.href='/auth/loginForm'">
                <i class="bi-lock me-1"></i>
                로그인
            </button>
            </th:block>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="d-flex">
                <button class="btn btn-outline-dark me-1" type="button" onclick="location.href='/item/registerProduct'">
                    상품등록
                </button>
            </div>
            </th:block>
            <th:block sec:authorize="!hasRole('ROLE_ADMIN')">
                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                    </button>
                </form>
            </th:block>
        </div>
    </div>
</nav>
</th:block>
</html>