@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.notosanskr {
    font-family: 'Noto Sans KR', sans-serif;
}

.productName {
    max-height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.quantityNumber {
    width: 50px;
    text-align: center;
}

.quantityButton {
    width:20px;
    height: 20px;
    font-size: 1px;
    display: block;
    border: 0px;
}