<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
    <body>
    <!-- Header-->
        <div layout:fragment="content">
            <style>
                .note-editor .dropdown-toggle::after { all: unset; }
                .note-editor .note-dropdown-menu { box-sizing: content-box; }
                .note-editor .note-modal-footer { box-sizing: content-box; }
            </style>
            <header class="bg-dark py-5">
                <div class="container px-4 px-lg-5 my-5">
                    <div class="text-center text-white">
                        <h1 class="display-4 fw-bolder">JISINSA</h1>
                    </div>
                </div>
            </header>
            <script src="/js/summernote/summernote-lite.js"></script>
            <script src="/js/summernote/lang/summernote-ko-KR.js"></script>
            <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
            <div class="d-flex mb-5 mt-5 justify-content-center">
                <form th:action="'/admin/registerProduct/'+${item.id}" id="registerForm" action="/admin/registerProduct/" method="put" enctype="multipart/form-data">
                    <input type="file" id="chooseFile" name="files" accept="image/*" hidden>
                    <div class="mb-2">
                        <img th:if="${#lists.isEmpty(item.productImages)}" id="preview" style="height: 138px;border:1px solid;" src="/img/productImagePreview.png"/>
                        <img th:unless="${#lists.isEmpty(item.productImages)}" th:src="${connectPath}+${item.productImages[0].filename}" id="preview" style="height: 138px;border:1px solid;" src="/img/productImagePreview.png"/>
                        <button style="margin-top : 100px" class="btn btn-outline-dark" type="button" id="btn_upload">이미지 찾기</button>
                    </div>
                    <div class="mb-2">
                        <input th:value="${item.name}" id="itemName" name="name" class="form-control" placeholder="상품 이름">
                    </div>
                    <div class="mb-2">
                        <input th:value="${item.price}" id="itemPrice" name="price" class="form-control" placeholder="상품 가격">
                    </div>
                    <div class="mb-2">
                        <input th:value="${item.stockQuantity}" id="itemStockQuantity" name="stockQuantity" class="form-control" placeholder="상품 수량">
                    </div>
                    <textarea th:value="${item.content}" th:text="${item.content}" id="summernote" name="content"></textarea>
                    <button class="btn btn-dark mt-2" type="submit" id="btn_update">상품 등록</button>
                </form>
            </div>
            <script src="/js/editItem.js"></script>
        </div>
    </body>
</html>