<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
    <body>
    <!-- Header-->
        <div layout:fragment="content">
            <header class="bg-dark py-5">
                <div class="container px-4 px-lg-5 my-5">
                    <div class="text-center text-white">
                        <h1 onclick="location.href='/'" class="display-4 fw-bolder">JISINSA</h1>
                    </div>
                </div>
            </header>
            <div class="d-flex mb-1 justify-content-center" >
                <form action="/join" method="post">
                    <div class="mb-3 mt-3">
                        <label for="email" class="form-label">아이디:</label>
                        <input type="email" class="form-control" id="email" placeholder="아이디" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="pwd" class="form-label">비밀번호:</label>
                        <input type="password" class="form-control" id="pwd" placeholder="비밀번호" name="pwd">
                    </div>
                    <div class="mb-3">
                        <label for="repwd" class="form-label">비밀번호 재확인:</label>
                        <input type="password" class="form-control" id="repwd" placeholder="비밀번호" name="repwd">
                    </div>
                    <button type="submit" class="btn btn-outline-dark form-control mb-3">
                        회원가입
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>