<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
    <body>
    <!-- Header-->
        <div layout:fragment="content">
            <header class="bg-dark py-5">
                <div class="container px-4 px-lg-5 my-5">
                    <div class="text-center text-white">
                        <h1 class="display-4 fw-bolder">JISINSA</h1>
                    </div>
                </div>
            </header>
            <div class="d-flex mb-1 justify-content-center">
                <div>
                    <div class="mt-3">
                        <label for="id" class="form-label">아이디:</label>
                        <div class="form">
                            <input type="id" class="form" id="id" placeholder="아이디" name="id">
                            <button type="button" id="btn--idDupChk" class="btn-sm btn-outline-dark">
                                중복확인
                            </button>
                            <div>
                                <label class="col-form-label-sm text-danger" id="label-alert" style="font-size: 0.3rem"></label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label for="pwd" class="form-label">비밀번호:</label>
                        <input type="password" class="form-control" id="pwd" placeholder="비밀번호" name="pwd">
                        <div>
                            <label class="col-form-label-sm text-success" id="label-pwd-alert" style="font-size: 0.3rem"></label>
                        </div>
                    </div>
                    <div>
                        <label for="re-pwd" class="form-label">비밀번호 재확인:</label>
                        <input type="password" class="form-control" id="re-pwd" placeholder="비밀번호" name="re-pwd">
                        <div>
                            <label class="col-form-label-sm text-danger" id="label-re-pwd-alert" style="font-size: 0.3rem"></label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">이메일:</label>
                        <input type="email" class="form-control" id="email" placeholder="이메일" name="email">
                    </div>
                    <button id="btn-joinProc" class="btn btn-outline-dark form-control mb-3">
                        회원가입
                    </button>
                </div>
                <script src="/js/myUser.js"></script>
            </div>
        </div>
    </body>
</html>